body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ccc;
}
#app {
  background-color: #ffff;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 8px;
}
inputs {
  display: flex;
  flex-direction: column;
}
input {
  margin: 8px 0;
  padding: 8px;
}
.botoes {
  display: flex;
  justify-content: center;
}
.mostrar {
  display: flex;
  flex-direction: column;
}
.esconder {
  display: none;
}

#btn-calcular {
  width: 50%;
  margin: 0 4px;
  background-color: black;
  color: #f7f7f7;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.resultados {
  background-color: #ffffffc9;
  border: #020202 1px solid;
  padding: 20px;
  border-radius: 8px;
  margin-top: 16px;
}

#btn-limpar {
  width: 50%;
  margin: 0 4px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
